OPENVPN_PROVIDER=smartdnsproxy
OPENVPN_USERNAME=-----------
OPENVPN_PASSWORD=-----------
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
OPENVPN_CONFIG=UK-Hull_UDP1194_SMART
LOCAL_NETWORK=192.168.1.0/24
TRANSMISSION_ALT_SPEED_DOWN=50
TRANSMISSION_ALT_SPEED_ENABLED=false
TRANSMISSION_ALT_SPEED_UP=30
TRANSMISSION_RATIO_LIMIT=2
TRANSMISSION_RATIO_LIMIT_ENABLED=true
TRANSMISSION_RPC_ENABLED=true
TRANSMISSION_RPC_USERNAME=-------
TRANSMISSION_RPC_PASSWORD="-------"
TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
TRANSMISSION_SPEED_LIMIT_DOWN=100
TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=false
TRANSMISSION_SPEED_LIMIT_UP=30
TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
